{% extends "main.html" %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Raw Data Information</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Raw Data</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="raw-graph">
                        <p class="text-center intro-text">Please select an option...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-md-7">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Raw Data Health</h6>
                </div>
                <div class="card-body">
                    <div id="health-info-graph">
                        <p class="text-center intro-text">Please select an option...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Statistic Descriptive</h6>
                </div>
                <div class="card-body">
                    <div id="stat-desc-graph">
                        <div class="table-responsive">
                            <table class="table" width="100%" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold;">Mean</td>
                                        <td>:</td>
                                        <td id="stat-desc-mean">Unavailable</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Standard Deviation</td>
                                        <td>:</td>
                                        <td id="stat-desc-std-dev">Unavailable</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Q1</td>
                                        <td>:</td>
                                        <td id="stat-desc-q1">Unavailable</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Median</td>
                                        <td>:</td>
                                        <td id="stat-desc-median">Unavailable</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Q3</td>
                                        <td>:</td>
                                        <td id="stat-desc-q3">Unavailable</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Minimum</td>
                                        <td>:</td>
                                        <td id="stat-desc-minimum">Unavailable</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Maximum</td>
                                        <td>:</td>
                                        <td id="stat-desc-maximum">Unavailable</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}