{% extends "main.html" %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sensor Mapping</h1>
        <a id="update-sensor-mapping" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Update Mapping</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Mapping Table</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="raw-graph">
                        <table class="table table-bordered" id="sensorMappingTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>System</th>
                                    <th>Equipment</th>
                                    <th>Tagname</th>
                                    <th>KKS</th>
                                    <th>Is Modeled</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}

    <script src="{{ url_for('static', filename='js/sensor_mapping.js') }}"></script>

{% endblock %}