<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="{{ url_for('static', filename='img/logo_sml.png') }}" class="img-logo" alt="Logo SML">
        </div>
        <div class="sidebar-brand-text mx-3">Dashboard Model</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li id="nav-raw-data" class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-chart-bar"></i>
            <span>Raw Data</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Type
    </div>

    <!-- Nav Item - Charts -->
    <li id="nav-anomaly-detection" class="nav-item">
        <a class="nav-link" href="/anomaly_detection">
            <i class="fas fa-fw fa-exclamation-triangle"></i>
            <span>Anomaly Detection</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li id="nav-future-prediction" class="nav-item">
        <a class="nav-link" href="/future_prediction">
            <i class="fas fa-fw fa-angle-double-right"></i>
            <span>Future Prediction</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li id="nav-survival-analysis" class="nav-item">
        <a class="nav-link" href="/survival_analysis">
            <i class="fas fa-fw fa-heart"></i>
            <span>Survival Analysis</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li id="nav-anomaly-detection-validation" class="nav-item">
        <a class="nav-link" href="/anomaly_validation">
            <i class="fas fa-fw fa-check"></i>
            <span>Anomaly Validation</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Sidebar -->