<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-center">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-select-unit">
        <div class="input-group">
            <select class="form-control bg-light border-0 small searchable-select" name="unit" id="select-unit">
                <option></option>
            </select>
        </div>
    </form>
    <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-select-system">
        <div class="input-group">
            <select class="form-control bg-light border-0 small searchable-select" name="system" id="select-system">
                <option></option>
            </select>
        </div>
    </form>
    <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-select-equipment">
        <div class="input-group">
            <select class="form-control bg-light border-0 small searchable-select" name="equipment" id="select-equipment">
                <option></option>
            </select>
        </div>
    </form>
    <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-select-tag">
        <div class="input-group">
            <select class="form-control bg-light border-0 small searchable-select" name="tag" id="select-tag">
                <option></option>
            </select>
        </div>
    </form>
    <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-date-picker">
        <div class="input-group">
            <input class="form-control bg-light border-0 small date-range-picker" id="date-range-picker">
        </div>
    </form>

    <!-- Special for bad model checking page -->
    <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-select-bad-model-time-interval">
        <div class="input-group div-bad-model-time-interval">
            <select class="form-control bg-light border-0 small searchable-select" name="bad-model-time-interval" id="select-bad-model-time-interval">
                <option></option>
                <option value="hour_1">Last 1 Hour</option>
                <option value="hour_3">Last 3 Hour</option>
                <option value="hour_6">Last 6 Hour</option>
                <option value="hour_12">Last 12 Hour</option>
                <option value="hour_24">Last 24 Hour</option>
            </select>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>

</nav>
<!-- End of Topbar -->